:host ::ng-deep {
  .p-galleria-item-wrapper {
    border-radius: 12px;
    overflow: hidden;
  }

  .p-galleria-thumbnail-container {
    background-color: transparent;
    padding: 0.5rem 0;
  }

  .p-galleria-thumbnail-item {
    border-radius: 6px;
    overflow: hidden;
  }
}
