@if (images.length > 0) {
  <p-galleria
    [value]="images"
    [responsiveOptions]="responsiveOptions"
    [numVisible]="5"
    [circular]="true"
    [showItemNavigators]="true"
    [showThumbnails]="true"
    data-testid="image-galleria"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item" style="width: 100%; display: block;" [alt]="'Space image'" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item" style="width: 100px; display: block;" [alt]="'Space image thumbnail'" />
      </div>
    </ng-template>
  </p-galleria>
}
