:host {
  display: block;
}

.sticky-filters {
  @media (min-width: 768px) {
    position: sticky;
    top: 80px; /* Adjust based on top-bar height */
    align-self: flex-start;
    z-index: 1;
  }
}

