:host {
  display: block;
}

.booking-image {
  border-radius: 8px;
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: cover;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 1rem;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0;
}

@media (max-width: 767px) {
  .booking-card-content {
    text-align: center;
  }

  .booking-image {
    margin-bottom: 1rem;
  }

  .text-md-right {
    text-align: center !important;
    margin-top: 1rem;
  }
}
