<p-card styleClass="space-card">
  <div class="booking-card-content grid align-items-center">
    <div class="col-12 sm:col-12 md:col-4 lg:col-2 xl:col-2">
      <img [ngSrc]="booking().imageUrl" [alt]="booking().spaceName" width="150" height="90" class="booking-image" />
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-4 xl:col-6">
      <app-truncatable-text [text]="booking().spaceName" [limits]="{ sm: 35, md: 30, lg: 50 }"></app-truncatable-text>
      <app-truncatable-text [text]="booking().eventName" [limits]="{ sm: 35, md: 30, lg: 50 }"></app-truncatable-text>
      <p-tag [value]="booking().status" [severity]="getSeverity(booking().severity)" styleClass="mt-2"></p-tag>
    </div>
    <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 text-md-right">
      <p class="m-0 font-semibold">{{ booking().date }}</p>
      <p class="m-0 text-secondary">{{ booking().time }}</p>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-2 xl:col-1 flex justify-content-end gap-2 mt-3 md:mt-0">
      <p-button icon="pi pi-pencil" [text]="true" [raised]="true" data-cy="edit-booking-button"></p-button>
      <p-button icon="pi pi-trash" severity="danger" [text]="true" [raised]="true" data-cy="cancel-booking-button"></p-button>
    </div>
  </div>
</p-card>
