<div class="top-banner flex align-items-center p-3">
  <button (click)="goBack()" class="back-button p-button-text p-button-rounded">
    <i class="pi pi-arrow-left"></i>
  </button>
</div>

@if (space) {
  <div class="grid">
    <div class="col-12 md:col-8 space-details-main-content">
      <app-image-gallery [images]="images"></app-image-gallery>

      <div class="mt-4">
        <h1 class="text-3xl font-bold">{{ space.name }}</h1>
        <p class="mt-2 text-lg">{{ space.description }}</p>
      </div>

      <div class="amenities mt-4">
        <h2 class="text-2xl font-semibold mb-3">Amenities & Features</h2>
        <div class="grid">
          @for (amenity of amenities; track amenity.name) {
            <div class="col-6 md:col-4 lg:col-3 flex items-center mb-2">
              <i [class]="amenity.icon + ' text-xl mr-2'"></i>
              <span>{{ amenity.name }}</span>
            </div>
          }
        </div>
      </div>

      <app-availability-calendar></app-availability-calendar>
    </div>
    <div class="col-12 md:col-4">
      <app-booking-form></app-booking-form>
    </div>
  </div>
} @else {
  <p class="p-4">Espacio no encontrado.</p>
}
