<div class="grid"> 
  <div class="col-12 md:col-3 lg:col-2">
    <app-booking-list-sidebar></app-booking-list-sidebar>
  </div>

  <div class="col-12 md:col-9 lg:col-10">
    <h1 class="text-2xl font-bold mb-4" data-cy="my-bookings-title">Mis Reservas</h1>

    @if (loading()) {
      <div class="flex justify-content-center align-items-center h-20rem">
        <p-progressSpinner></p-progressSpinner>
      </div>
    } @else {
      <div class="booking-list">
        @for (booking of bookings(); track booking.id) {
          <app-booking-card [booking]="booking"></app-booking-card>
        }
      </div>
    }
  </div>
</div>

<app-scroll-top></app-scroll-top>
