:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.logo {
  width: 220px;
  height: 50px;
  background-image: url('/assets/images/logo-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
  .logo {
    background-image: url('/assets/images/logo-dark.svg');
  }
}

p-card {
  width: 100%;
  max-width: 450px;
}

:host ::ng-deep .p-card-body {
  padding: 2.5rem;
}

.more-actions {
  text-align: right;
  font-size: 0.9rem;
}

.more-actions-footer {
  text-align: center;
  margin-top: 1rem;
}
