:host {
  display: block;
}

:host ::ng-deep .filters-card {
  background-color: var(--surface-card) !important;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

::ng-deep .p-card-body {
  padding: 1.5rem;
}

::ng-deep .p-card-content {
  padding: 0;
}

label {
  color: var(--text-secondary-color);
}

.slider-labels {
  color: var(--text-secondary-color);
}

::ng-deep .p-inputtext {
  width: 100%;
}